{% extends 'dashboard-master.html' %}

{% load static %}

{% block changing-part %}

<main id="main" class="main">
    
    <div class="pagetitle">
      <h1>Historias Clínicas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'records' %}">Historias Clínicas</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section"></section>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Historia Clínica de:</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">En esta seccion puede Agregar, editar o eliminar pacientes.</h6>
        <p></p> -->
        <div>   
    
            <h5>{{history}}</h5>

            <p>{{history.historia}}</p>

        </div>

        <p class="text-center"><a href="{% url 'update-history' history.id %}" class="btn btn-primary">Editar</a> <a href="{% url 'records' %}" class="btn btn-primary">Volver a atrás</a></p>
        <p></p>
        <p></p>
        </div>
    </div><!-- End Card with titles, buttons, and links -->
</section>


{% endblock %}  