{% extends 'dashboard-master.html' %}

{% load static %}

{% block changing-part %}

<section class="section"></section>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pacientes:</h5>
        <h6 class="card-subtitle mb-2 text-muted">En esta seccion puede Agregar, editar o eliminar pacientes.</h6>
        <p></p>
        <div>   
    
            {% for patient in patients %}
               <li> {{patient}}</li>
            {% endfor %}


        </div>
        <p></p>
        <p></p>
        <p class="card-text"><a href="{% url 'add-patient' %}" class="btn btn-primary">Crear un nuevo paciente</a></p>
        </div>
    </div><!-- End Card with titles, buttons, and links -->
</section>


{% endblock %}  