{% extends 'dashboard-master.html' %}

{% load static %}

{% block changing-part %}
    
    
    <main id="main" class="main">
    
        <div class="pagetitle">
          <h1>Registros</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'index' %}">Dashboard</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'patients' %}">Pacientes</a></li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
    <section class="section"></section>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Historias Clínicas</h5>
        <h6 class="card-subtitle mb-2 text-muted">Seleccione el nombre del paciente para ver su historia clínica.</h6>
        <p></p>
        <div>
            <ul class="list-group col-6" >
                {% if records|length > 0 %}
        
                    {% for record in records %}
                        {% if record.record %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{% url 'history-detail' record.record.id %}">{{record}}</a></li>
                            <p></p>
                            <p></p>
                            <p class="card-text"><a class="btn btn-primary" href="{% url 'patients' %}">Volver a pacientes</a></p>
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{record}} <a href="{%url 'add-history' record.id %}"> Agregar Historia </a></li>
                        {% endif %}
                        
                    {% endfor %}
                {% else %}        
                <h4>No existen pacientes, registra uno para continuar.</h4>
            </ul>
        </div>
        <p></p>
        <p></p>
        <p class="card-text"><a class="btn btn-primary" href="{% url 'patients' %}">Volver a pacientes</a></p>
        </div>
        {% endif %}
    </div><!-- End Card with titles, buttons, and links -->
    </section>
{% endblock %}  