{% extends 'dashboard-master.html' %}
{% load widget_tweaks %}
{% load static %}

{% block changing-part %}

<main id="main" class="main">
    
    <div class="pagetitle">
      <h1>Crear pacientes</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'patients' %}">Pacientes</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section"></section>
  <div class="card">
    <div class="card-body">
    <h5 class="card-title">Actualizar datos del Paciente:</h5>
    <h6 class="card-subtitle mb-2 text-muted">Llene todos los campos con la información de su paciente.</h6>
    <p></p>
    <p></p>
    <form action="" method="POST" >{% csrf_token %}

        <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">{{form.nombre.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.nombre.errors}}
            {% render_field form.nombre %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">{{form.apellido.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.apellido.errors}}
            {% render_field form.apellido %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Documnent" class="col-md-4 col-lg-3 col-form-label">{{form.documento.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.documento.errors}}
            {% render_field form.documento %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Address" class="col-md-4 col-lg-3 col-form-label">{{form.domicilio.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.domicilio.errors}}
            {% render_field form.domicilio %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Phone" class="col-md-4 col-lg-3 col-form-label">{{form.telefono.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.telefono.errors}}
            {% render_field form.telefono %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Email" class="col-md-4 col-lg-3 col-form-label">{{form.email.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.email.errors}}
            {% render_field form.email %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="MaritalStatus" class="col-md-4 col-lg-3 col-form-label">{{form.estado_civil.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.estaco_civil.errors}}
            {% render_field form.estado_civil %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Religion" class="col-md-4 col-lg-3 col-form-label">{{form.religion.label_tag}}</label>
            <div class="col-md-8 col-lg-9">
            {{patient_form.religion.errors}}
            {% render_field form.religion %}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <p></p>
        <p></p>
        <p></p>
    </form>
    <p class="text-center"><a href="{% url 'patients' %}" class="btn btn-primary">Cancelar</a></p>  
    <p></p>
    <p></p>
    </div>
  </div><!-- End Card with titles, buttons, and links -->
</section>

{% endblock %}  