{% extends 'dashboard-master.html' %}
{% load widget_tweaks %}
{% load static %}

{% block changing-part %}

<main id="main" class="main">
    
    <div class="pagetitle">
      <h1>Editar Historia Clinica</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'patients' %}">Pacientes</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section"></section>
        <div class="card">
            <div class="card-body">
            <!-- <h5 class="card-title">Historia Clinica de:</h5> -->
            <h6 class="card-subtitle mb-2 text-muted">Edite toda la informacion que requiera y no olvide presionar guardar cambios.</h6>
            <p></p>
            <div>   
        
                <form action="" method="POST" class="form-control">{% csrf_token %}

                    <div class="row mb-3">
                        <label for="HistoriaClinica" class="col-md-4 col-lg-3 col-form-label">{{form.historia.label_tag}}</label>
                        <div class="col-md-8 col-lg-9">
                        <!-- {{historia_form.historia.errors}}
                        {% render_field historia_form.historia.nombre %} -->
                            {{form.as_p}}
                        </div>
                        
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar historia clinica</button>
                    </div>
                </form>

            </div>
            <p></p>
            <p></p>
            </div>
        </div><!-- End Card with titles, buttons, and links -->
    </section>
    



{% endblock %}